body {
    margin: 0;
    font-family: Arial, sans-serif;
    background: #fff5f8;
}

header {
    background: #ff4d88;
    padding: 20px;
    text-align: center;
    color: white;
}

nav a {
    margin: 0 15px;
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.hero {
    text-align: center;
    padding: 80px 20px;
}

.botao {
    background: #ff4d88;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
}

.produtos {
    display: flex;
    justify-content: center;
    gap: 30px;
    padding: 40px;
}

.produto {
    background: white;
    padding: 20px;
    border-radius: 10px;
    width: 220px;
    text-align: center;
    box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

button {
    margin-top: 10px;
    background: #ff4d88;
    border: none;
    color: white;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
