body {
  margin: 0;
  font-family: Arial, sans-serif;
  background: #fff7fb;
}

header {
  background: #ff6fa1;
  padding: 20px;
  text-align: center;
  color: white;
}

nav a {
  margin: 0 15px;
  color: white;
  text-decoration: none;
  font-weight: bold;
}

.hero {
  text-align: center;
  padding: 100px 20px;
  background: linear-gradient(to right, #ffb6d5, #ffd3e6);
}

.btn {
  background: #ff4081;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  border-radius: 5px;
}

.produtos {
  display: flex;
  justify-content: center;
  gap: 40px;
  padding: 50px;
}

.produto {
  background: white;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 250px;
  box-shadow: 0 5px 15px rgba(0,0,0,0.1);
}

.produto img {
  width: 100%;
  border-radius: 10px;
}

button {
  background: #ff6fa1;
  border: none;
  color: white;
  padding: 10px;
  cursor: pointer;
  border-radius: 5px;
}
